{% extends 'base.html.twig' %}

{% block body %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Room</th>
                <th>Capacity</th>
                <th>Building</th>
                <th>Floor</th>
                {% if is_granted('ROLE_USER') %}
				<th>Edit</th>
				<th>Delete</th>
			    {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for room in rooms %}
                <tr>
                    <td><a href="{{ path('room_show', {'roomId': room.id}) }}">{{ room.roomName }}</a></td>
                    <td>{{ room.capacity }}</td>
                    <td>{{ room.building }}</td>
                    <td>{{ room.roomFloor }}</td>
                    <td><a
				href="{{ path('room_edit', {'roomId': room.id}) }}">Edit</a></td>
			<td><a
				href="{{ path('room_delete', {'roomId': room.id}) }}">Delete</a></td>
			{% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}