{% extends 'base.html.twig' %}

{% block body %}
<div class="form">
{{ form_start(organisationForm) }}
<div class="form-group">
{{ form_label(organisationForm.organisationName,null, {'attr': {'class': 'control-label'}}) }}
{{ form_widget(organisationForm.organisationName, {'attr': {'class': 'form-control', 'placeholder': 'Organisation name'}}) }}
</div>
<div class="form-group">
{{ form_label(organisationForm.organisationDomain,null, {'attr': {'class': 'control-label'}}) }}
{{ form_widget(organisationForm.organisationDomain, {'attr': {'class': 'form-control', 'placeholder': 'Organisation domain'}}) }}
</div>
<button type="submit" class="btn btn-primary form-control">Add</button>
{{ form_end(organisationForm) }}
</div>
{% endblock %}